doctype html
html
    head
        title= title
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
        script(src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js")

    body
        link(rel='stylesheet', href='/stylesheets/sco.message.css')
        link(rel='stylesheet', href='/stylesheets/message.css')
        link(rel='stylesheet', href='/css/messenger.css')
        link(rel='stylesheet', href='/css/messenger-theme-flat.css')

        .container
            .row
                .col-sm-3
                    .panel.panel-primary(style="margin-right:-10px;")
                        .panel-heading
                            span.glyphicon.glyphicon-user &nbsp;
                            span Linked Guy
                        .panel-body
                            .msg-list-body.user-content
                                ul
                                    li(style="display:none;")
                                        div(href="#", type="checkbox" onclick="javascript:changeUser();")
                                            img.img-thumbnail(src="/images/man.png")
                                            span

                        .panel-footer
                            .btn-group
                                button.btn.btn-primary(type="button")
                                    span.glyphicon.glyphicon-home
                                //button.btn.btn-primary(type="button")
                                //    span.glyphicon.glyphicon-user
                                //button.btn.btn-primary(type="button")
                                //    span.glyphicon.glyphicon-film
                                //button.btn.btn-primary(type="button")
                                //    span.glyphicon.glyphicon-music
                                //button.btn.btn-primary(type="button")
                                //    span.glyphicon.glyphicon-heart
                                button.btn.btn-primary#sendInvite(type="button")
                                    span.glyphicon.glyphicon-envelope
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            span.glyphicon.glyphicon-comment &nbsp;
                            span Chat_Room
                            label(style="float:right;") Hello,#{userInfo.username}!
                            span#spanuser(style="float:right;")
                        .panel-msgbody
                            .msg-list-body.msg-content

                        .panel-footer
                            input.form-controll#regname(type="hidden", value="#{userInfo.username}")
                            input.form-controll#usermail(type="hidden", value="#{userInfo.email}")
                            textarea.form-control#msg(type="text", style="display:inline;", placeholder="Type message to send", onkeypress="javascript:keywordsMsg(event);")
                            .input-group
                                .col-sm-12
                                .input-group-addon
                                    a(href="#")
                                    img(src="/images/bq.png")
                                .input-group-addon(style="padding-bottom:0px;")
                                    label(style="position:relative;")
                                        img(src="/images/jt.jpg",title="send images",style="cursor:pointer;")
                                        input#sendImage(type="file",value="images",style="display:none;")
                                span.input-group-btn
                                    button.btn.btn-primary#sendMsg(type="button") Send

        .modal.fade#myModal(tabindex="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title#myModalLabel Input your alias name
                    .modal-body
                        .form-group
                            .input-group
                                .input-group-addon ID
                                input.form-control#username(type="text",value="User",onkeydown="javascript:keywordsName(event);")
                    .modal-footer
                        input.btn.btn-primary#btn-setName(type="button",value="Accept")

        .modal.fade#inviteModel(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title#inviteLabel Invite your friend to the chat!
                        .modal-body
                            .form-group
                                .input-group
                                    .input-group-addon Email
                                    input.form-control#inviteEmail(type="email", placeholder="Mail to invite here", onkeydown="javascript:keywordsName(event);")
                        .modal-footer
                            //input.form-controll#userEmail(type="text", value="#{userInfo.username}")
                            input.btn.btn-primary#btnInvite(type="button", value="Invite")
                            label#inviteStatus(style="float:left;")

    .modal.fade#setMsgToOne(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title#myModalLabel1
                        .modal-body
                            input.form-control#input_msgToOne(type="text",onkeydown="javascript:keywordsName1(event);")

                        .modal-footer
                            input.btn.btn-primary#btn_toOne(type="button",value="Send")

        script(src="/socket.io/socket.io.js")
        script(src='/javascripts/chat.js')
        script(src='/javascripts/client.js')
        script(src='/javascripts/sco.message.js')
        script(src="/js/messenger.min.js")
        script(src="/js/messenger-theme-flat.js")