doctype html
html
    head
        title= title
        meta(name="viewport",content="width=device-width, height=device-height, initial-scale=1")
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
        script(src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js")
        link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css", rel="stylesheet")
        script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
        script(src="/dropzone/dropzone.js")
        link(rel='stylesheet', href='/dropzone/dropzone.css')

    body
        link(rel='stylesheet', href='/stylesheets/sco.message.css')
        link(rel='stylesheet', href='/stylesheets/message.css')
        link(rel='stylesheet', href='/css/messenger.css')
        link(rel='stylesheet', href='/css/messenger-theme-flat.css')
        script(async="", src="http://engine.carbonads.com/z/57843/azcarbon_2_1_0_VERT")

        .container
            .row
                .col-sm-3
                    .panel.panel-primary(style="margin-right:-10px; padding-top: 1px; border: 0px;")
                        .panel-heading
                            div(style="padding-top: 8px; margin-left: -10px; margin-right: -10px;")
                                .dropdown.pull-left#menu-add(onclick="javascript:addNewGroup();", style="padding-left: 10px", title="Add new group")
                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                        img(src="/images/plus.png", style="width: 20px; height: 20px;")
                                span.head-title(style="cursor:default; margin-left: 20%;") Messenger
                                .dropdown.pull-right#menu-settings(style="padding-right: 10px", title="Settings")
                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                        img(src="/images/settings.png", style="width: 20px; height: 20px;")
                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                                        li
                                            a(onclick="javascript:refreshContactList(contactList);", tabindex='-1', style="cursor: default; display: list-item;")
                                                span.glyphicon.glyphicon-user.dropdown-icon
                                                span.dropdown-text My Contact
                                        li
                                            a(onclick="javascript:inviteUser();", tabindex='-1', style="cursor: default; display: list-item;")
                                                span.glyphicon.glyphicon-envelope.dropdown-icon
                                                span.dropdown-text Invite person
                                        li.divider
                                        li
                                            a(onclick="javascript:showSearchBar();", tabindex='-1', style="cursor: default; display: list-item;")
                                                span.glyphicon.glyphicon-search.dropdown-icon
                                                span.dropdown-text Search person

                                .input-group#grp-searchPerson(style="padding-top: 10px; width: 100%;")
                                    input.form-control.search#input-searchPerson(type="search", placeholder="Search people", title="People name & email", style="border-radius: 13px;" onkeydown="javascript:keyEventSearchPerson(event);")
                                    button.btn.btn-secondary#btn-searchPerson(title="Search person" style="display:none;")
                                        span.glyphicon.glyphicon-search




                        .input-group(style="padding: 5px; width: 100%; display: none;")
                            input.form-control.search#input-searchContact(type="search", placeholder="Search contact", title="Contact name & email", style="border-radius: 13px;" onkeydown="javascript:keyEventSearchContact(event);")
                            button.btn.btn-secondary#btn-searchContact(title="Search contact" style="display:none;")
                                span.glyphicon.glyphicon-search

                        .panel-body
                            .msg-list-body.user-content
                                ul
                                    li(id="li", style="display:none;")
                                        .user
                                            .avatar
                                                img(src="/images/man.png")
                                                .status.offline
                                            .name Name
                                            .mood Mood for this

                                    //li(id="li", style="display:none;")
                                    //    div(href="#", onclick="javascript:changeUser();")
                                    //        img.img-thumbnail(src="/images/man.png")
                                    //        span

                        .panel-footer
                            .row(style="margin-top: 0px; padding-left: 15px; padding-right: 15px;")
                                .btn-group.pull-left
                                    button.btn.btn-secondary#btn-myContactList(title="Your contact")
                                        span.glyphicon.glyphicon-user
                                    //button.btn.btn-secondary(type="button")
                                    //    span.glyphicon.glyphicon-user
                                    //button.btn.btn-secondary(type="button")
                                    //    span.glyphicon.glyphicon-film
                                    //button.btn.btn-secondary(type="button")
                                    //    span.glyphicon.glyphicon-music
                                    button.btn.btn-secondary#sendInvite(title="Send invite")
                                        span.glyphicon.glyphicon-envelope
                                    button.btn.btn-secondary#btn-addGrpConv(title="Add chatting group")
                                        span.glyphicon.glyphicon-plus
                                .btn-group.pull-right
                                    button.btn.btn-info#btn-removeFromContact(disabled, title="Remove from your contact")
                                        span.glyphicon.glyphicon-minus-sign
                                    button.btn.btn-info#btn-addToContact(disabled, title="Add to your contact")
                                        span.glyphicon.glyphicon-plus-sign

                .col-sm-9
                    .panel.panel-primary
                        .panel-heading(style="padding: 0px;")
                            div
                                .div.pull-left(style="min-width: 70%;")
                                    div(style="text-align: center; font-weight: bold; padding-top: 15px;")
                                        span#span-mainTitle Test1
                                    div(style="text-align: center; margin-top: -4px;")
                                        span#span-subTitle(style="font-size: 12px;") Messenger

                                .dropdown.pull-right(style="padding-top : 7px; padding-right: 10px;")
                                        .div.pull-right
                                            img#selfinfo-image(src="/images/man.png" style="float: right; height: 40px; width: 40px;")
                                        .div.pull-right(style="padding-right: 5px;")
                                            .name(style="text-align: center;")#selfinfo-name Name
                                            .mood(style="text-align: center; color: #a0a0a0;")#selfinfo-mood Mood for asdfasdfas


                                .dropdown.pull-right(style="margin-top: -30px; padding-right: 20px; display: none;", title="Add to your contact")
                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                        img(src="/images/plus.png", style="width: 20px; height: 20px;" )
                        .panel-msgboxbody
                            .panel-msgbody.pull-left
                                .msg-list-body.msg-content#messages

                                .panel-footer
                                    input.form-controll#regname(type="hidden", value="#{userInfo.username}")
                                    input.form-controll#usermail(type="hidden", value="#{userInfo.email}")
                                    textarea.form-control#msg(type="text", style="display:inline;", placeholder="Type message to send", onkeypress="javascript:keyEventMessage(event);")
                                    .input-group
                                        .progress-panel#progress-panel(style="visibility: hidden")
                                            .progress-info
                                                span#upload-progresstext Now uploading.. 100%
                                            .progress#upload-progress(style="height: 10px; margin: 0px; height: 10px;")
                                                .progress-bar(role="progressbar")
                                        .input-group-addon(style="padding-bottom:0px;")
                                            label(style="position:relative;")
                                                span.glyphicon.glyphicon-paperclip(style="cursor:pointer;")
                                                input#btn-sendFile(type="file", title="Send files",value="files", style="display:none;")
                                        .input-group-addon(style="padding-bottom:0px;")
                                            label(style="position:relative;")
                                                span.glyphicon.glyphicon-picture(style="cursor:pointer;")
                                                input#btn-sendImg(type="file", title="Send image", value="images", accept="image/*", style="display:none;")
                                        span.input-group-btn
                                            button.btn.btn-secondary#sendMsg(type="button",title="Send message") Send

                            .panel-infobody.pull-right
                                .self-panel#self-info
                                    .board-panel#board-panel
                                        .board-item#board-item
                                            div
                                                .pitem-title#pitem-title Title of item
                                                .dropdown.pitem-dropdown#settings
                                                    a.dropdown-toggle(href="#", data-toggle="dropdown", style="color: #428bca;")
                                                        span.glyphicon.glyphicon-list
                                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                                                        li
                                                            a(onclick="javascript:refreshContactList(contactList);", tabindex='-1', style="cursor: default; display: list-item;")
                                                                span.glyphicon.glyphicon-open.dropdown-icon
                                                                span.dropdown-text Go into
                                                        li.divider
                                                        li
                                                            a(onclick="javascript:inviteUser();", tabindex='-1', style="cursor: default; display: list-item;")
                                                                span.glyphicon.glyphicon-edit.dropdown-icon
                                                                span.dropdown-text Edit
                                                        li
                                                            a(onclick="javascript:showSearchBar();", tabindex='-1', style="cursor: default; display: list-item;")
                                                                span.glyphicon.glyphicon-remove.dropdown-icon
                                                                span.dropdown-text Remove

                                            a.pitem(href="/")
                                                .pitem-content#pitem-content
                                                    .pitem-mainimg#pitem-mainimg
                                                    .pitem-subimg#pitem-subimg1
                                                    .pitem-subimg#pitem-subimg2(style="margin-left: 5px; margin-right: 5px;")
                                                    .pitem-subimg#pitem-subimg3

                                    .img-panel#img-panel(style="display: none;")
                                        .img-item#img-item(style="display:none;")
                                            a.iitem(href="#")
                                                img.img-style(src="/images/test.jpg")

                                    .boardctrl-panel#selfinfo-button-panel
                                        .board-CtrlButton.pull-left#upto-board(onclick="javascript:action_showImgInfo();", style="display: none;", title="Up to board")
                                            a(href="#", data-toggle="dropdown").dropdown-toggle
                                                img.action-button#upto-board-btn(src="/images/up.png")
                                        .board-CtrlButton.pull-left#add-board(onclick="javascript:action_modal_addBoard();", title="Add new")
                                            a(href="#", data-toggle="dropdown").dropdown-toggle
                                                img.action-button#add-board-btn(src="/images/plus.png")




                                .div#panel-userinfodiv
                                    .div#panel-userinfo
                                        .dropdown.pull-right#action-panel1(onclick="javascript:action_addToContact();", style="padding: 20px; padding-left: 10px;", title="Add to your contact")
                                            a(href="#", data-toggle="dropdown").dropdown-toggle
                                                img.action-button#user-actionbutton1(src="/images/plus.png")
                                        .dropdown.pull-right#action-panel2(onclick="javascript:action_removeFromContact();", style="padding: 10px; padding-right: 0px;", title="Remove from your contact")
                                            a(href="#", data-toggle="dropdown").dropdown-toggle
                                                img.action-button#user-actionbutton2(src="/images/minus.png")


                                        .div.user-info
                                            .div#div-userInfo
                                                .div(style="padding-top : 5px; padding-left: 20px;")
                                                    .user
                                                        .avatar.pull-left
                                                            img.info-avatar#userinfo-img(src="/images/man.png")
                                                            .status.contacted-offline#userinfo-status(style="margin-left: 30px; margin-top: -13px;")
                                                        .name#userinfo-name(style="padding-left: 60px; padding-top: 12px") Name
                                            .div(style="padding-top: 10px; padding-left: 20px; word-wrap: break-word; padding-bottom: 5px;")
                                                .mood#userinfo-mood Mood for thisasdfsdfsadlsaksafdjsadlsafksafjsaflksadfjsalksdfsadjsadlsadkjsadlkjf
                                        .div#other-infopanel(style="overflow-y: scroll;")
                                            .div#other-info
                                                ul
                                                    li(style="display: list-item; margin-left: 0px; padding-top: 5px; border-bottom: 1px solid #f5f5f5;")
                                                        .user.pull-left
                                                            .avatar.pull-left
                                                                img.info-avatar(src="/images/man.png")
                                                                .status.offline(style="margin-left: 30px; margin-top: 30px;")
                                                            .name(style="padding-left: 50px; padding-top: 10px;") Name




                        //.panel-footer
                        //    input.form-controll#regname(type="hidden", value="#{userInfo.username}")
                        //    input.form-controll#usermail(type="hidden", value="#{userInfo.email}")
                        //    textarea.form-control#msg(type="text", style="display:inline;", placeholder="Type message to send", onkeypress="javascript:keyEventMessage(event);")
                        //    .input-group
                        //        .col-sm-12
                        //        .input-group-addon
                        //            a(href="#")
                        //            img(src="/images/bq.png")
                        //        .input-group-addon(style="padding-bottom:0px;")
                        //            label(style="position:relative;")
                        //                img(src="/images/jt.jpg",style="cursor:pointer;")
                        //                input#sendImage(type="file", title="Send image",value="images",style="display:none;")
                        //        span.input-group-btn
                        //            button.btn.btn-secondary#sendMsg(type="button",title="Send message") Send


        .modal.fade#myModal(tabindex="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title#myModalLabel Input your alias name
                    .modal-body
                        .form-group
                            .input-group
                                .input-group-addon ID
                                input.form-control#username(type="text",value="User",onkeydown="javascript:keyEventName(event);")
                    .modal-footer
                        input.btn.btn-secondary#btn-setName(type="button",value="Accept")

        .modal.fade#inviteModel(tabindex="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title#inviteLabel Invite your friend to the chat!
                    .modal-body
                        .form-group
                            .input-group
                                .input-group-addon Email
                                input.form-control#input-inviteEmail(type="email", placeholder="Mail to invite here", onkeydown="javascript:keyEventInvite(event);")
                    .modal-footer
                        //input.form-controll#userEmail(type="text", value="#{userInfo.username}")
                        input.btn.btn-secondary#btn-inviteUser(type="button", value="Invite")
                        label#inviteStatus(style="float:left;")

        .modal.fade#addGroupModel(tabindex="-1")
            .modal-dialog
                .modal-content(style="background-color: #f8f8f8;")
                    .modal-header
                        h4.modal-title#myModalLabel1 Add Chat Group
                        .input-group
                            .input-group-addon Group Name
                            input.form-control#input-grpName(type="text", placeholder="Group name here")
                    .modal-body
                        .msg-list-body.grp-content
                            ul
                                li(id="liID", style="display: none;")
                                    .user
                                        .avatar
                                            img(src="/images/man.png")
                                            .status.offline
                                        .name Name
                    .modal-footer
                        .div.pull-left(style="padding-left: 35%; padding-top: 5px;")#txt-addGrpResult
                        input.btn.btn-secondary#btn-addGrp(type="button", value="Add")
                        input.btn.btn-secondary#btn-Cancel-addGrp(onclick="javascript:$('#addGroupModel').modal('hide');", type="button", value="Cancel")

        .modal.fade#modal-addImage(tabindex="-1")
            .modal-dialog
                .modal-content(style="background-color: #ffffff;")
                    .modal-header
                        h4.modal-title(style="text-align: center;") Add new image

                    .panel-addboard-inputgrp
                        .panel-addboard-label.pull-left Board name
                        div.form-control.panel-addboard-input#txt-boardName Board Name
                    .panel-addboard-inputgrp(style="padding: 0")
                            div#panel-uploadFiles
                                ul.addImg-ul
                                    li.addImg-item#imgItem(style="display: list-item")
                                        div.glyphicon.glyphicon-remove#btn-removeImgFromList(onclick="javascript:removeFromUploading(imgID);", style="float:left; cursor: pointer;")
                                        div#panel-imageName(style="margin-left: 26px;") This is text

                    .modal-footer
                        label.pull-left(style="position:relative;")
                            span.glyphicon.glyphicon-plus-sign(style="cursor:pointer;")
                            input#btn-addImage(type="file", title="Add image", value="images", accept="image/*", style="display:none;", multiple="true")

                        .div.pull-left(style="padding-left: 30%; padding-top: 5px;")#txt-uploadResult
                        input.btn.btn-secondary#btn-pinImage(onclick="action_uploadFilesToServer();", type="button", value="Pin to")
                        input.btn.btn-secondary#btn-Cancel-addImage(onclick="javascript:$('#modal-addImage').modal('hide');", type="button", value="Cancel")

        .modal.fade#modal-imageView(tabindex="-1")
            .modal-dialog#modal-imageView-body(style="width: 800px;")
                .modal-content(style="background-color: #ffffff;")
                    .modal-body
                        img.img-button#btn-shareToOthers(src="/images/share.png", style="", value="Remove from board", onclick="javascript:action_modal_shareImgToUser();")
                        img.img-view#img-view(src="/images/man.png")
                        a#link-downloadImg(href="download")
                            img.img-button#btn-downloadImg(src="/images/download.png", style="float:left;", value="Download image")
                        img.img-button#btn-removeImgFromBoard(src="/images/minus.png", style="", value="Remove from board")
                        img.img-button#btn-addImgToBoard(src="/images/pin.png", style="", value="Add to board")

        .modal.fade#modal-addImgToBoard(tabindex="-1")
            .modal-dialog#modal-addImgView-body(style="width: 690px;")
                .modal-content(style="background-color: #ffffff;")
                    .modal-body
                        .board-list#panel-board-list
                            ul
                                li(style="display:none;")
                                    .name Name

                            input.btn.btn-secondary#btn-createBoard(onclick="action_createBoard()", type="button", style="float:right;", value="+ Board")
                            div#panel-board-info(style="height: 50px; padding-left: 20px;")
                                div Image count : 4
                                div 4 Collaborators

                        .board-info
                            img#img-content(src="/images/man.png", style="width: 400px; border: 1px solid #dedede;")
                            img.img-button#btn-pinToBoard(src="/images/pin.png", onclick="javascript:action_imgPinToBoard();", style="margin-top: -33px; margin-left: 50px;", value="Add to board")
                            //img.img-button#btn-cancelPinToBoard(src="/images/pin.png", style="margin-top: -33px;", value="Cancel")

        .modal.fade#modal-addBoard(tabindex="-1")
            .modal-dialog
                .modal-content(style="background-color: #ffffff;")
                    .modal-header
                        h4.modal-title#modalTitle Create new board

                    .panel-addboard-inputgrp
                        .panel-addboard-label.pull-left Name
                        input.form-control.panel-addboard-input#input-brdName(type="text", placeholder="Board name here")
                    .panel-addboard-inputgrp
                        .panel-addboard-label.pull-left Description
                        textarea.form-control.panel-addboard-input#input-description(placeholder="Description here")
                    .panel-addboard-inputgrp
                        .panel-addboard-label.pull-left(style="padding-right: 2%") Public/Private
                        input.form-control.panel-addboard-input#chk-public(type="checkbox" data-toggle="toggle", data-width="12%")
                    .panel-addboard-inputgrp
                        .panel-addboard-label.pull-left(style="padding-right: 2%") Collaborators
                        input.form-control.pull-left#input-addCollaborator(type="text",style="width: 50%; background-color: #f3f3f3;", placeholder="Search person as collaborator")
                        button.btn.btn-secondary.pull-right#btn-removeCollaborator(onclick="javascript:action_removeSelectedUserFromCollaboratorList();", type="button", style="margin-right: 2%; color: #5c5c5f;")
                            span.glyphicon.glyphicon-minus-sign
                        button.btn.btn-secondary.pull-right#btn-addCollaborator(onclick="javascript:action_addCollaborator();", type="button", style="margin-right: 1%; color: #4765ab;")
                            span.glyphicon.glyphicon-plus-sign
                        .panel-collaborators#panel-collaborators
                            ul

                    .modal-footer
                        .div.pull-left(style="padding-left: 35%; padding-top: 5px;")#txt-addResult
                        input.btn.btn-secondary#btn-addBoard(onclick="javascript:action_addBoardInfo();", type="button", value="Create")
                        input.btn.btn-secondary#btn-Cancel(onclick="javascript:$('#modal-addBoard').modal('hide');", type="button", value="Cancel")

        .modal.fade#modal-shareImg(tabindex="-1")
            .modal-dialog
                .modal-content(style="background-color: #ffffff; width: 600px;")
                    .modal-header
                        h4.modal-title#modal-shareTitle Share to..

                    .panel-addboard-inputgrp#modal-shareImgBody(style="min-height: 170px;")
                        div.pull-right(style="border-radius: 6px; background-color: #f3f3f3; padding: 10px; box-shadow: 1px 2px 6px 0px #c0c0c0;")
                            img#img-share(src="images/test.jpg", style="width: 300px; min-height: 150px;")
                        input.form-control.pull-left#input-searchSharePerson(type="text",style="width: 250px; background-color: #f3f3f3;", placeholder="Search person to share", onkeypress="javascript:keyEventSrchSharePerson(event);")
                        .panel-userlist#panel-contacts(style="width: 250px; min-height: 120px;")
                            ul(style="padding-left: 15px;")


                    .modal-footer
                        input.btn.btn-secondary#btn-Share(onclick="javascript:action_shareImgToUser();", type="button", value="Share")
                        input.btn.btn-secondary#btn-cancelShare(onclick="javascript:$('#modal-shareImg').modal('hide');", type="button", value="Cancel")

        .modal.fade#modal-shareToEmail(tabindex="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title#invitePersonLabel Share to an Email!
                    .modal-body
                        .form-group
                            .input-group
                                .input-group-addon Email
                                input.form-control#input-shareEmail(type="email", placeholder="EMail share to here")
                    .modal-footer
                        input.btn.btn-secondary#btn-shareToEmail(type="button", onclick="javascript:action_shareBoardToEmail();", value="Share to")
                        input.btn.btn-secondary#btn-cancelShareToEmail(type="button", onclick="javascript:$('#modal-shareToEmail').modal('hide');", value="Cancel")
                        label#shareStatus(style="float:left;")





    script(src="/socket.io/socket.io.js")
    script(src="/js/messenger.min.js")
    script(src="/js/messenger-theme-flat.js")
    script(src="/javascripts/client.js")
    script(src='/javascripts/sco.message.js')
